  h1 {
    font-size: 30px;
    margin-left: 20px;
  }
  .tate{
    -webkit-writing-mode: vertical-rl; /* 実装済 */
    -moz-writing-mode: vertical-rl; /* 実装済 */
    -ms-writing-mode: vertical-rl; /* 実装済 */
    writing-mode: vertical-rl; 
  }
  
  /* 字下げ */
  p {
    margin-left: 1rem;
    text-indent: 1rem;
  }
  div {
    margin-left: 0px;
  }
  h2 {
    font-weight: bold;
    font-size: 1.4rem;
    margin-left: 18px;
  }
  .mixed {
    -webkit-text-orientation: mixed;
    text-orientation: mixed;
  }
  .upright {
    -webkit-text-orientation: upright;
    text-orientation: upright;

  }
  .sideways {
    -webkit-text-orientation: sideways;
    text-orientation: sideways;
  }
  .text-combine {
    -webkit-text-combine: horizontal;
    -ms-text-combine-horizontal: all;
    text-combine-upright: all;
  }